<h1>Posez votre question :</h1>
<form action="/answer" method="get">
  <label for="question">Votre question :</label><br>
  <input type="text" id="question" name="question"><br>
  <button type="submit">Poser la question</button>
</form>